header{
    padding: 20px;
    background: #f5f5f5;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}
footer {
  margin-top: 40px;
  padding: 20px;
  background: #eee;
  text-align: center;
  color: #444;
  font-size: 14px;
}
